html {
    background-color: $light-bg;
}

body {
    margin: 0;
    padding: 0;
    font-family: $font-family;
    font-size: $base-font-size;
    color: $black;
    font-weight: $weight-normal;
    min-height: 100vh;
}

* {
    box-sizing: border-box;
}

h1 {
    font-size: calc-em(24px, $base-font-size);
    font-weight: $weight-normal;
}

a {
    color: $black;
    text-decoration: none;
}

form {
    @include clearfix();
}

input {
    font-family: $font-family;
    font-size: em($base-font-size);
    color: $black;
    display: block;
    width: 100%;
    -webkit-appearance: none;
    border: 1px solid $light-grey;
    border-radius: $input-radius;
    background: $white;
    padding: 10px 12px;
    line-height: 19px;
}

label,
.label {
    font-size: em(12px);
    text-transform: uppercase;
    color: $grey;
    font-weight: $weight-normal;
    display: block;
    margin-bottom: 5px;
}

.btn,
input[type="submit"] {
    display: inline-block;
    padding: 7px 15px;
    border-radius: $border-radius;
    font-size: calc-em(12px, $base-font-size);
    text-transform: uppercase;
    -webkit-appearance: none;
    border: none;
    background: $white;
    @include dropshow();
    line-height: 17px;
    cursor: pointer;
    &.btn-primary {
        background: $feature;
        color: white;
        padding: 7px 20px;
        border: none;
    }
}

.btn:not(input) {
    border: 1px solid rgba($grey, 0.15);
}

table {
    table-layout: fixed;
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    thead {
        tr {
            background: $light-bg;
            th {
                text-align: left;
                color: $black;
                &.actions {
                    width: 25%;
                }
            }
        }
    }
    tr {
        border: 1px solid $light-border;
        border-width: 1px 0 1px 0;
        th, td {
            @extend .label;
            display: table-cell;
            padding: 10px 15px;
        }
    }
    tbody {
        tr {
            td {
                text-transform: capitalize;
                &.td-actions {
                    a:not(:first-child) {
                        margin-left: 10px;
                    }
                }
            }
            &:first-child {
                border-top-width: 2px;
            }
            &:nth-child(even) {
                background-color: $light-bg;
            }
        }
    }
}