.error-container {
    border-left: 2px solid darken($error, 5%);
    padding: 5px 20px;
    margin-bottom: 25px;
    .alert {
        margin-bottom: 15px;
        font-size: em(12px);
        text-transform: uppercase;
        font-weight: $weight-bold;
        color: $grey;
        &:last-child {
            margin: 0;
        }
    }
}