.form-control {
    position: relative;
    margin-bottom: 20px;
    &.error {
        input, select, textarea {
            border-color: $error;
        }
    }
}

.form-inline {
    display: flex;
    align-items: center;
    label {
        flex: 0 0 125px;
        text-align: right;
        margin: 0 20px 0 0;
    }
}

.form-actions {
    text-align: right;
}

.card + .form-actions {
    padding: 0;
    margin: 25px 0 0;
}