.label-value-pair {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .label {
        flex: 0 0 125px;
        text-align: right;
        margin: 0 20px 0 0;
    }
    .value {
        a {
            color: $feature;
        }
    }
}

.labelvalue-popup {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .label-value-pair {
        flex-grow: 2;
        margin-bottom: 0;
    }
    .popup-container {
        .modal-container {
            .modal-trigger {
                padding: 0;
                box-shadow: none;
                color: $feature;
                background: none;
                border: none;
            }
        }
    }
}