@mixin clearfix() {
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}
.clearfix {
    @include clearfix();
}

@mixin dropshow() {
    box-shadow: 0 2px 5px 0 $shadow;
}
.dropshadow {
    @include dropshow();
}

// Calc based on the current context of element. First arg is PX value you want to set
// on the element, second arg is the PX value of the element font size.
@function calc-em($target-px, $context) {
    @return ($target-px / $context) * 1em;
}

// Simple conversion in global base font scope. Using base font size as default context.
@function em($pixels, $context: $base-font-size) {
    @return ($pixels / $context) * 1em;
}