#navigation {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
        margin-bottom: 20px;
        a {
            display: inline-block;
            line-height: 19px;
            position: relative;
            outline: none;
        }
        &.active a {
            font-weight: $weight-bold;
            color: $feature;
        }
    }
    .profile {
        margin-bottom: 30px;
        padding-bottom: 20px;
        border-bottom: 1px solid $light-border;
        display: flex;
        align-items: center;
        .profile-image {
            min-width: 30px;
            height: 30px;
            @include dropshow();
            display: inline-block;
            border-radius: 50%;
            overflow: hidden;
            margin-right: 15px;
            background-image: url('https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-1/c0.0.320.320/p320x320/15400290_1315260421857395_7543810241277806729_n.jpg?oh=5760cd9e9f6abd0769381264900f67ae&oe=5AE0A45F');
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
        }
        .dropdown-trigger {
            display: inline-block;
            width: 100%;
            position: relative;
            cursor: pointer;
            padding: 10px 0;
            &:hover {
                .dropdown {
                    opacity: 1;
                    transform: scale(1);
                    pointer-events: all;
                }
            }
        }
        .dropdown {
            position: absolute;
            @include dropshow();
            background: white;
            padding: 15px 0;
            border-radius: $border-radius;
            z-index: 2;
            list-style: none;
            width: 100%;
            margin-top: 10px;
            opacity: 0;
            transform: scale(0);
            transform-origin: top left;
            pointer-events: none;
            transition: opacity $anim-duration ease-in-out, transform $anim-duration ease-in-out;
            li {
                margin: 0;
                a {
                    padding: 12px 20px;
                    display: block;
                    cursor: pointer;
                    &:hover {
                        background-color: $light-bg;
                    }
                }
                &:last-child {
                    a {
                        border: none;
                    }
                }
            }
        }
    }
}