#qq {
    @include clearfix();
    max-width: 1200px;
    padding: 70px 15px;
    margin: 0 auto;
    #navigation,
    #app {
        float: left;
        width: 100%;
    }
    #navigation {
        max-width: 270px;
        padding-right: 50px;
    }
    #app {
        max-width: calc(100% - 270px);
    }
}