.loading {
    text-align: center;
    svg {
        fill: $grey;
    }
    p {
        margin: 5px 0 0;
        font-size: calc-em(12px, $base-font-size);
        text-transform: uppercase;
        color: $grey;
    }
}