$black: #322E4D;
$feature: #9157FF;
$grey: #687484;
$light-grey: #DAE0E3;
$light-bg: #F7F9FA;
$light-border: #EAEEF0;
$shadow: rgba(#70828B, 0.2);
$white: #FFFFFF;
$default-close: #CCCCCC;

$error: #FF6A6A;

$base-font-size: 14px;

$font-family: 'Noto Sans', sans-serif;
$weight-normal: 400;
$weight-bold: 700;

$anim-duration: 250ms;

$border-radius: 4px;
$input-radius: 3px;

$card-padding: 20px;
$modal-padding: 20px;