.clearfix:after {
  content: ' ';
  display: table;
  clear: both;
}

.dropshadow {
  -webkit-box-shadow: 0 2px 5px 0 rgba(112, 130, 139, 0.2);
          box-shadow: 0 2px 5px 0 rgba(112, 130, 139, 0.2);
}

html {
  background-color: #F7F9FA;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  color: #322E4D;
  font-weight: 400;
  min-height: 100vh;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  font-size: 1.71428571em;
  font-weight: 400;
}

a {
  color: #322E4D;
  text-decoration: none;
}

form:after {
  content: ' ';
  display: table;
  clear: both;
}

input {
  font-family: "Noto Sans", sans-serif;
  font-size: 1em;
  color: #322E4D;
  display: block;
  width: 100%;
  -webkit-appearance: none;
  border: 1px solid #DAE0E3;
  border-radius: 3px;
  background: #FFFFFF;
  padding: 10px 12px;
  line-height: 19px;
}

label,
.label,
table tr th,
table tr td {
  font-size: 0.85714286em;
  text-transform: uppercase;
  color: #687484;
  font-weight: 400;
  display: block;
  margin-bottom: 5px;
}

.btn,
input[type="submit"] {
  display: inline-block;
  padding: 7px 15px;
  border-radius: 4px;
  font-size: 0.85714286em;
  text-transform: uppercase;
  -webkit-appearance: none;
  border: none;
  background: #FFFFFF;
  -webkit-box-shadow: 0 2px 5px 0 rgba(112, 130, 139, 0.2);
          box-shadow: 0 2px 5px 0 rgba(112, 130, 139, 0.2);
  line-height: 17px;
  cursor: pointer;
}

.btn.btn-primary,
input[type="submit"].btn-primary {
  background: #9157FF;
  color: white;
  padding: 7px 20px;
  border: none;
}

.btn:not(input) {
  border: 1px solid rgba(104, 116, 132, 0.15);
}

table {
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%;
}

table thead tr {
  background: #F7F9FA;
}

table thead tr th {
  text-align: left;
  color: #322E4D;
}

table thead tr th.actions {
  width: 25%;
}

table tr {
  border: 1px solid #EAEEF0;
  border-width: 1px 0 1px 0;
}

table tr th, table tr td {
  display: table-cell;
  padding: 10px 15px;
}

table tbody tr td {
  text-transform: capitalize;
}

table tbody tr td.td-actions a:not(:first-child) {
  margin-left: 10px;
}

table tbody tr:first-child {
  border-top-width: 2px;
}

table tbody tr:nth-child(even) {
  background-color: #F7F9FA;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.col-50 {
  width: 50%;
  float: left;
  padding: 0 15px;
}

.col-100 {
  width: 100%;
  float: left;
  padding: 0 15px;
}

.text-align--right {
  text-align: right;
}

.text-align--left {
  text-align: left;
}

.text-align--center {
  text-align: center;
}

#navigation {
  margin: 0;
  padding: 0;
  list-style: none;
}

#navigation li {
  margin-bottom: 20px;
}

#navigation li a {
  display: inline-block;
  line-height: 19px;
  position: relative;
  outline: none;
}

#navigation li.active a {
  font-weight: 700;
  color: #9157FF;
}

#navigation .profile {
  margin-bottom: 30px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EAEEF0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navigation .profile .profile-image {
  min-width: 30px;
  height: 30px;
  -webkit-box-shadow: 0 2px 5px 0 rgba(112, 130, 139, 0.2);
          box-shadow: 0 2px 5px 0 rgba(112, 130, 139, 0.2);
  display: inline-block;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 15px;
  background-image: url("https://scontent-syd2-1.xx.fbcdn.net/v/t1.0-1/c0.0.320.320/p320x320/15400290_1315260421857395_7543810241277806729_n.jpg?oh=5760cd9e9f6abd0769381264900f67ae&oe=5AE0A45F");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

#navigation .profile .dropdown-trigger {
  display: inline-block;
  width: 100%;
  position: relative;
  cursor: pointer;
  padding: 10px 0;
}

#navigation .profile .dropdown-trigger:hover .dropdown {
  opacity: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  pointer-events: all;
}

#navigation .profile .dropdown {
  position: absolute;
  -webkit-box-shadow: 0 2px 5px 0 rgba(112, 130, 139, 0.2);
          box-shadow: 0 2px 5px 0 rgba(112, 130, 139, 0.2);
  background: white;
  padding: 15px 0;
  border-radius: 4px;
  z-index: 2;
  list-style: none;
  width: 100%;
  margin-top: 10px;
  opacity: 0;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: top left;
          transform-origin: top left;
  pointer-events: none;
  -webkit-transition: opacity 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

#navigation .profile .dropdown li {
  margin: 0;
}

#navigation .profile .dropdown li a {
  padding: 12px 20px;
  display: block;
  cursor: pointer;
}

#navigation .profile .dropdown li a:hover {
  background-color: #F7F9FA;
}

#navigation .profile .dropdown li:last-child a {
  border: none;
}

#qq {
  max-width: 1200px;
  padding: 70px 15px;
  margin: 0 auto;
}

#qq:after {
  content: ' ';
  display: table;
  clear: both;
}

#qq #navigation,
#qq #app {
  float: left;
  width: 100%;
}

#qq #navigation {
  max-width: 270px;
  padding-right: 50px;
}

#qq #app {
  max-width: calc(100% - 270px);
}

.form-control {
  position: relative;
  margin-bottom: 20px;
}

.form-control.error input, .form-control.error select, .form-control.error textarea {
  border-color: #FF6A6A;
}

.form-inline {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.form-inline label {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 125px;
          flex: 0 0 125px;
  text-align: right;
  margin: 0 20px 0 0;
}

.form-actions {
  text-align: right;
}

.card + .form-actions {
  padding: 0;
  margin: 25px 0 0;
}

.card {
  background-color: #FFFFFF;
  border-radius: 4px;
  margin-bottom: 10px;
  overflow: hidden;
  -webkit-box-shadow: 0 2px 5px 0 rgba(112, 130, 139, 0.2);
          box-shadow: 0 2px 5px 0 rgba(112, 130, 139, 0.2);
}

.card .card-header {
  padding: 20px;
  position: relative;
}

.card .card-header p.card-title {
  margin: 0;
}

.card .card-header.flush {
  padding: 0;
  border-bottom: none;
}

.card .card-header.flush + .card-body {
  border-top: none;
}

.card .card-header.image {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 200px;
  position: relative;
}

.card .card-header.image p.card-title {
  position: absolute;
  max-width: calc(100% - 20px);
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  padding: 20px 35px;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 4px;
}

.card .card-header.image:not(.flush) {
  border-bottom: 0;
  border-radius: 4px;
  margin: 20px;
  height: calc(200px - (20px * 2));
}

.card .card-header.image .collapse-icon {
  top: 0;
  -webkit-transform: translate(0);
          transform: translate(0);
  right: 0;
  display: block;
  padding: 8px;
  line-height: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.card .card-header.image .collapse-icon svg {
  fill: white;
}

.card .card-header.collapsable {
  cursor: pointer;
}

.card .card-header .collapse-icon {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 15px;
  line-height: 0;
}

.card .card-header .collapse-icon svg {
  width: 9px;
  fill: #CCCCCC;
}

.card .card-header .collapse-icon svg path {
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.card .card-header:not(.closed) .collapse-icon svg path:first-child {
  opacity: 0;
}

.card .card-header.has-children {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card .card-header.has-children:after {
  content: ' ';
  display: table;
  clear: both;
}

.card .card-header.has-children .card-actions {
  width: 100%;
}

.card .card-body {
  background-color: white;
  padding: 20px;
  border-top: 1px solid #EAEEF0;
  -webkit-transform-origin: top center;
          transform-origin: top center;
  -webkit-transition: height 250ms ease-in-out, padding 250ms ease-in-out, margin 250ms ease-in-out;
  transition: height 250ms ease-in-out, padding 250ms ease-in-out, margin 250ms ease-in-out;
}

.card .card-body > *:first-child {
  margin-top: 0;
}

.card .card-body > *:last-child {
  margin-bottom: 0;
}

.card .card-body .separator {
  margin-right: -20px;
  margin-left: -20px;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #EAEEF0;
  display: block;
}

.card .card-body img {
  max-width: 100%;
  width: auto;
  height: auto;
  display: block;
}

.card .card-body.collapsed {
  height: 0px !important;
  overflow: hidden;
  padding-top: 0;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-top: 0;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  height: 100%;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 250ms ease-in-out;
  transition: opacity 250ms ease-in-out;
}

.modal-overlay.active {
  opacity: 1;
  pointer-events: all;
}

.modal {
  text-align: left;
  background-color: #F7F9FA;
  border-radius: 4px;
  max-width: 900px;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 1000;
  top: 50%;
  left: 50%;
  pointer-events: none;
  opacity: 0;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  -webkit-transition: opacity 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: opacity 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out;
  transition: transform 250ms ease-in-out, opacity 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.modal.active {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 1;
  pointer-events: all;
}

.modal .modal-header {
  padding: 20px;
  position: relative;
}

.modal .modal-header .close-trigger {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 10px;
  display: block;
  padding: 8px;
  line-height: 0;
}

.modal .modal-header .close-trigger svg {
  max-width: 9px;
  width: 100%;
  height: auto;
  fill: #CCCCCC;
}

.modal .modal-body {
  background-color: white;
  padding: 20px;
}

.modal .modal-body > *:first-child {
  margin-top: 0;
}

.modal .modal-body > *:last-child {
  margin-bottom: 0;
}

.modal .modal-body .separator {
  margin-right: -20px;
  margin-left: -20px;
  height: 1px;
  margin-top: 15px;
  margin-bottom: 15px;
  background-color: #EAEEF0;
  display: block;
}

.modal .modal-actions {
  background-color: #F7F9FA;
  text-align: right;
  padding: 15px 20px;
}

.modal .modal-actions a {
  margin-left: 10px;
}

.error-container {
  border-left: 2px solid #ff5151;
  padding: 5px 20px;
  margin-bottom: 25px;
}

.error-container .alert {
  margin-bottom: 15px;
  font-size: 0.85714286em;
  text-transform: uppercase;
  font-weight: 700;
  color: #687484;
}

.error-container .alert:last-child {
  margin: 0;
}

.loading {
  text-align: center;
}

.loading svg {
  fill: #687484;
}

.loading p {
  margin: 5px 0 0;
  font-size: 0.85714286em;
  text-transform: uppercase;
  color: #687484;
}

.label-value-pair {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.label-value-pair .label, .label-value-pair table tr th, table tr .label-value-pair th, .label-value-pair table tr td, table tr .label-value-pair td {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 125px;
          flex: 0 0 125px;
  text-align: right;
  margin: 0 20px 0 0;
}

.label-value-pair .value a {
  color: #9157FF;
}

.labelvalue-popup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px;
}

.labelvalue-popup .label-value-pair {
  -webkit-box-flex: 2;
      -ms-flex-positive: 2;
          flex-grow: 2;
  margin-bottom: 0;
}

.labelvalue-popup .popup-container .modal-container .modal-trigger {
  padding: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
  color: #9157FF;
  background: none;
  border: none;
}
